@charset "UTF-8";

#navbarFormat {
	background-color: #96031A;
}

.nav-text {
	color: #FBFBFB;

}

a.nav-link:hover {
	color: #FAA916;
}

.btn-update {
	background-color: #FAA916 !important;
	color: #FBFBFB;
}

.img-thumbnail {
	height: 300px !important;
}